<div class="site-header">
  <div class="container">
    <a [routerLink]="['']" class="branding">
      <img src="assets/images/logo.png" alt="" class="logo">
      <div class="logo-type">
        <h1 class="site-title">WeatherApp</h1>
        <small class="site-description">Know the weather forecast now</small>
      </div>
    </a>

    <!-- Default snippet for navigation -->
    <div class="main-navigation">
      <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
      <ul class="menu">
        <li class="menu-item current-menu-item"><a [routerLink]="['']">Home</a></li>
      </ul> <!-- .menu -->
    </div> <!-- .main-navigation -->

    <div class="mobile-navigation"></div>
  </div>
</div>
